<%- include('./includes/header.ejs') %>
    <link rel="stylesheet" href="/css/login.css">
    <title>
        <%= pageTitle %>
    </title>
    </head>

    <body>
        <div class="alert-container">
            <%- include('./includes/alert.ejs', {msgSuccess: msgSuccess, msgError: msgError}) %>
        </div>
        <div class="logo-container bg-info text-center">
            <h2 class="text-white">School G</h2>
        </div>

        <div class="form-container bg-white">
            <form action="/login" method="POST">
                <div class="row">
                    <input type="email" name="email" class="form-control" value="<%= emailValue ? emailValue : '' %>"
                        placeholder="E-mail" required>
                </div>
                <div class="row mt-3">
                    <input type="password" name="password" class="form-control" placeholder="Senha" required>
                </div>
                <div class="row d-flex row-btn mt-3">
                    <button class="btn bg-info text-white" type="submit">Entrar</button>
                </div>
            </form>
        </div>
        <%- include('./includes/footer.ejs', {path: path}) %>