<%- include('../includes/header.ejs') %>
    <link href="/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <title><%= pageTitle %></title>
</head>
<body>
    <%- include('../includes/header-nav.ejs') %>
    <%- include('../includes/aside-nav.ejs') %>

        <!--DELETE AND RESTAURAR MODAL -->
        <% if(alunos.length > 0) { %>
            <% for (let aluno of alunos) { %>
                <%- include('./reciclagem-restaurar.ejs', { aluno: aluno }) %>
                <%- include('./reciclagem-delete.ejs', { aluno: aluno }) %>
        <% } } %>

    <section class="main-section">
        <h6><i class="fa fa-users mr-2"></i> Alunos</h6>
        <hr  class="mb-4">

        <%- include('../includes/alert.ejs') %>

        <!-- Tabela -->
        <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold"><i class="fa fa-trash"></i> Reciclagem:</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Nome Completo</th>
                    <th>Número de Processo</th>
                    <th>Sexo</th>
                    <th>Tel</th>
                    <th>Email</th>
                    <th class="text-center">Restaurar</th>
                    <th class="text-center">Excluir</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Nome Completo</th>
                    <th>Número de Processo</th>
                    <th>Sexo</th>
                    <th>Tel</th>
                    <th>Email</th>
                    <th class="text-center">Restaurar</th>
                    <th class="text-center">Excluir</th>
                </tr>
                </tfoot>
                <tbody>
                    <% if(alunos.length > 0) { %>
                       <% for (let aluno of alunos) { %>
                        <tr class="dt-text">
                            <td><%= aluno.nome %></td>
                            <td><%= aluno.numProcesso %></td>
                            <td><%= aluno.sexo %></td>
                            <td><%= aluno.telefone %></td>
                            <td><%= aluno.email %></td>
                            <td class="text-center">
                                <a href="#" data-toggle="modal" data-target="#restaurarAluno<%= aluno.id %>" class="btn btn-dark">
                                    <i class="fa fa-share"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="#" data-toggle="modal" data-target="#deleteAluno<%= aluno.id %>" class="btn btn-dark">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                        <% } %>
                    <% } else { %>
                        <tr>
                            <td colspan="7" class="text-center"><h5>Reciclagem Vazia!</h5></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </section> 

<%- include('../includes/footer.ejs') %>